/* common styles in the webpage*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    width: 1320px;
    margin: 120px auto;
    border-radius: 16px;
}

.font-family-meriweather {
    text-align: center;
    font-family: Merriweather;
    color: #FFF;
}

.font-family-inter {
    text-align: center;
    font-family: Inter;
    color: #F00;
}

/* banner section styles */
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.468), rgba(0, 0, 0, 0.468)), url('../resources/Banner Image.png');
    width: 1320px;
    height: 600px;
    margin: 120px auto;
    border-radius: 16px;
    margin-bottom: 0;
}

.small-heading {
    font-size: 32px;
    font-weight: 400;
    padding: 150px 531px 0px 530px;
}

.large-heading {
    font-size: 72px;
    font-weight: 900;
    padding: 0px 344px;
    /* line-height: 95px; */

}

/* section-one related styles */
.section-one {
    margin-top: -80px;
}

.discount-title {

    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-description {
    font-size: 24px;
    font-weight: 500;
    padding: 0;
}

/* category-title is a common class */
.category-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 30px;
}

.section-one-img {
    padding-top: 1000px;
}

/* section-two related styles */

.section-two {
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .92), rgba(0, 0, 0, 0.268)), url('../resources/Vectorrr.png');
}

.section-two-img {
    padding: 65px 135px;

}

.section-two-title-and-description {
    text-align: left;
    padding: 80px 0px 0px 100px;
    max-width: 600px;
}

.section-two-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 20px;
}

.section-two-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;

}

.section-two-btn {
    padding-left: 50px;
    background-color: black;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-top: 40px;
    text-transform: uppercase;
}

/* section-three styles */
.section-three {
    font-family: Inter;
    text-align: center;
    margin-bottom: 120px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.section-three-description {

    margin: 50px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 40px;

}

.strong-color {
    color: #F00;

    font-size: 32px;
    font-weight: 600;
    /* 175% */

}

.section-three-description {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
}

.section-three-para1 {
    margin-left: 150px;
}

.section-three-para2 {
    margin-left: 70px;
}

.section-three-btn {
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    padding: 10px 20px;
    margin-bottom: 120px;
}

/* section-four styles */
.section-four {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
  
}

.offer-container {
    margin-right: 60px;

}

.image-container {
    margin-right: 120px;
}

.section-four .small-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.section-four .large-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 20px;
}

/* common style */
.offer-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.section-four .image-container {
    border-radius: 50%;
    border: 15px solid #F00;
    padding: 40px;
}

.year-para-img-container .year-title {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

/* section-five styles */

.title-description {
    margin: 120px auto;
    text-align: center;
}

.s5-div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s5-img3-container {
    position: relative;

}

.s5-img3 {
    width: 210px;
    height: 210px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 250px 0px auto;

}

.s5-heading-one {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

#s5-span {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.s5-strong-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.s5-div2 {
    background-image: url('../resources/Rectangle\ 2.png');
    background-size: cover;
    min-height: 230px;
    width: 1350px;
    border: none;
    border-radius: 10px;
    position: relative;
    margin-top: -18px;
}

.s5-div2 img.s5-img1 {
    position: absolute;
    top: 0%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.s5-img3 {
    position: relative;
    right: 0px;
    left: 920px;
    top: 0px;
    font-family: Inter;
    font-size: 73.015px;
    font-weight: 700;
}



/* section six styles */

.section-six {
    margin-top: 120px;

}

.section-six p {
    max-width: 60%;
    margin-top: -20px;
    margin-bottom: 40px;
}

.gift-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.gift-image-container ul {
    display: flex;
    border-radius: 16px;
    column-gap: 24px;
    row-gap: 24px;
    margin-left: -40px;
    list-style: none;
}

.hover-img:hover {
    filter: brightness(1.3);
    transition: 1.3;
    background-color: #f0f0f0;
}

/* section-seven-styles */

.section-seven {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.07);
    margin: 120px auto;
    text-align: center;
    margin-bottom: 0;
}

.section-seven .image-section-seven {
    padding-top: 80px;
    padding-bottom: 40px;
}

.section-seven p {
    max-width: 50%;
    text-align: center;
    margin: 40px auto;
}

/* form section styles */

.form-section {
    padding-top: 40px;
    padding-bottom: 80px;
}

.email-section {
    padding: 30px 60px;
    border: none;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    border-radius: 50px 0px 0px 50px;
}

.subscribe-btn {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    padding: 30px 60px;
    margin-left: -10px;
    border: none;
}

/* footer section styles */

.footer {
    background-color: #070211;
    color: white;
}

.footer-div1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-social-links {
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;

}

.footer-div-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.footer hr {
    color: #121412;
    width: 80%;
    border-style: solid;
    margin-bottom: 30px;
}

.footer .address {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
}