/* common styles in the webpage*/
body {
    margin-bottom: 120px;
}

main {
    width: 1320px;
    height: 600px;
    margin: 120px auto;
    border-radius: 16px;
}

.font-family-meriweather {
    text-align: center;
    font-family: Merriweather;
    color: #FFF;
}

.font-family-inter {
    text-align: center;
    font-family: Inter;
    color: #F00;
}

/* banner section styles */
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.468), rgba(0, 0, 0, 0.468)), url('../resources/Banner Image.png');
    width: 1320px;
    height: 600px;
    margin: 120px auto;
    border-radius: 16px;

}

.small-heading {
    font-size: 32px;
    font-weight: 400;
    padding: 150px 531px 0px 530px;
}

.large-heading {
    font-size: 72px;
    font-weight: 900;
    padding: 0px 344px;
    /* line-height: 95px; */

}

/* section-one related styles */

.discount-title {

    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-description {
    font-size: 24px;
    font-weight: 500;
    padding: 0;
}

.category-title {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 50px;
}

/* section-two related styles */

.section-two {
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .92), rgba(0, 0, 0, 0.268)), url('../resources/Vectorrr.png');
}

.section-two-img {
    padding: 65px 135px;

}

.section-two-title-and-description {
    text-align: left;
    padding: 80px 0px 0px 100px;
    max-width: 600px;
}

.section-two-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 20px;
}

.section-two-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;

}

.section-two-btn {
    padding-left: 50px;
    background-color: black;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-top: 40px;
    text-transform: uppercase;
}

/* section-three styles */
.section-three {
    font-family: Inter;
    text-align: center;
    margin-bottom: 120px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.section-three-description {

    margin: 50px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 40px;

}

.strong-color {
    color: #F00;

    font-size: 32px;
    font-weight: 600;
    /* 175% */

}

.section-three-description {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
}

.section-three-btn {
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    padding: 10px 20px;
    margin-bottom: 120px;
}

/* section-four styles */
.section-four {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 120px; */
}

.offer-container {
    margin-right: 60px;

}

.image-container {
    margin-right: 120px;
}

.section-four .small-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.section-four .large-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.offer-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.section-four .image-container {
    border-radius: 50%;
    border: 15px solid #F00;
    padding: 40px;
}

.year-para-img-container .year-title {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

/* section six styles */

.section-six {
    margin-top: 120px;
}

.section-six p{
    max-width: 60%;
}

.gift-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.gift-image-container ul{
    display: flex;
    gap: 24px;
    list-style: none;
    border-radius: 16px;
   
}


